body {
    background-color: rgb(16, 37, 48);
    background-image: url('darkforest.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 98vh; 
}

p { 
    font-family: 'Cormorant Garamond', serif;
 }

#leonkennedy {
    position: absolute;
    bottom: 15%;
    left: 42%;  
    width: 200px;
    opacity: 90%; 
}

#scaryguy {
    display: flex;
    position: absolute;
    opacity: 85%;
    width: 300px;
    right: 60%;
    bottom: 20%;
}

#ghostyguy {
    display: flex;
    position: absolute;
    opacity: 30%;
    width: 300px;
    left: 500px;
    bottom: 400px;
}

.main-zone {
    display: flex;
    gap: 30px;
}

.description p {
    color: #e6f0f2;
    opacity: 100%;
}

.main-zone {
    display: flex;
    font-size: 120%;
    line-height: 1.5;
    opacity: 80%;
    background: #0b1a1f;
    border-radius: 12px;
    border: 2px solid #182719;
    padding: 10px;
}
